@{
    ViewData["Title"] = "Acerca de";
}

<main class="otro_main">
    <div class="content2">
        <h1 class="titulo">Acerca de</h1>
        <p class="about">El proposito de Ubisoft es brindarles los mejores productos a un excelente precio con atención y extras de primera.. aspectos que nos permiten crecer de la mano de todos nuestro clientes.</p>
        <p class="about">
            Las recomendaciones nuestros clientes satisfechos nos compromenten a servirlos cada vez mejor, así pueden obtener promociones exclusivas para nuestros amigos suscritos a promociones por email.
            Somos responsables y solidarios con la garantía de los productos que vendemos para ayudarles de manera rápida a solucionar cualquier imprevisto que pueda suceder con su producto durante la garantía o luego del plazo garantizado con nuestro servicio técnico.
        </p>
        <p class="about">Gracias por sus recomendaciones!!</p>

        <div class="media">
            <video alt="welcome" controls>
                <source src="~/video/about.mp4" type="video/mp4" />
            </video>
        </div>


    </div>


</main>
