@model IEnumerable<Producto>
<main>
    <h1 class="titulo">Tienda</h1>
    <div class="media">
        <audio alt="aud" controls>
            <source src="~/audio/Ubisoft.mp3">
        </audio>
        <small>Te damos la bienvenida a traves de este audio !</small>
    </div>
    <div class="products">
        @foreach(var producto in Model)
        {
            <partial name="App/ProductoTienda" model="producto"/>
        }                
    </div>
</main>
