<main>
    <h1 class="titulo">Tienda</h1>
    <div class="media">
        <audio alt="aud" controls>
            <source src="~/audio/Ubisoft.mp3">
        </audio>
        <small>Te damos la bienvenida a traves de este audio !</small>
    </div>
    <div class="products">
        <article class="tienda">
            <h3>1.Calculadora Gráfica HP Prime G2 2019</h3>
            <div class="imagen">
                <img alt="pc" src="~/img/calculadora-grafica-hp-prime-solohpcom-01_2.jpg" alt="calculadora">
            </div>
            <ul>
                <li>Procesador: 528MHz</li>
                <li>RAM: 256MB +Rápida</li>
                <li>Almacenamiento: 512MB</li>
                <li>Pantalla: Multi-táctil a Color (320 x 240px)</li>
                <li>Manual: Español</li>
                <li>Batería: Recargable</li>
                <li>Sistema Operativo: v14181</li>
                <li class="compra"><p>Precio: $215.00</p></li>
                <li class="compra"><button class="compra">Comprar artefacto</button></li>
            </ul>
        </article>

        <article class="tienda">
            <h3>2.Pendrive HP 16GB Modelo X750W</h3>
            <div class="imagen">
                <img alt="usb" src="~/img/pendrive-hp-x750w-16gb-solohpcom-01.jpg" alt="flash memory">
            </div>

            <ul>
                <li>USB 3.0</li>
                <li>IDEAL PARA LLAVERO</li>
                <li>VELOCIDAD de 70MB/s read</li>
                <li>VELOCIDAD de 10MB/s write</li>
                <li class="compra"><p>Precio: $12.00</p></li>
                <li class="compra"><button class="compra">Comprar artefacto</button></li>
            </ul>
        </article>
        <article class="tienda">
            <h3>2.Pendrive HP 16GB Modelo X750W</h3>
            <div class="imagen">
                <img alt="usb" src="~/img/pendrive-hp-x750w-16gb-solohpcom-01.jpg" alt="flash memory">
            </div>

            <ul>
                <li>USB 3.0</li>
                <li>IDEAL PARA LLAVERO</li>
                <li>VELOCIDAD de 70MB/s read</li>
                <li>VELOCIDAD de 10MB/s write</li>
                <li class="compra"><p>Precio: $12.00</p></li>
                <li class="compra"><button class="compra">Comprar artefacto</button></li>
            </ul>
        </article>
    </div>
</main>
