@model Producto
<article>
    <h3>@Model.Titulo </h3>
    <figure>
        <img src=@Model.Ruta alt="LAPTOP">
        <div class="content2">
            <p>@Model.Descripcion</p>
            <button class="compra">Comprar producto</button>
        </div>
    </figure>
</article>
    