@model IGrouping<Producto, ProductoConCaracteristica>
<article class="tienda">
    <h3>@Model.Key.Titulo</h3>
    <div class="imagen">
        <img src=@Model.Key.Ruta alt="articulo">
    </div>
    <ul>
        @foreach (var features in Model)
        {
            <li>@features.Caractersistica.Descripcion</li>
        }
        <li>Precio: @Model.Key.Precio.ToString("C2")</li>
        <li class="compra"><button class="compra">Comprar artefacto</button></li>
    </ul>
</article></article>