@model List<Producto>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Comunicación segura tío -->
<main>
    <img alt="pc" id="banner" src="~/img/960x114_255,255,255_SOLOHPcom-Mas-Vendida-Laptop-HP-240-G6-LargeBanner.jpg" />
    <h1 class="titulo">Productos super conocidos</h1>
    @foreach (var productoDestacado in Model)
    {
        <partial name="App/ListaProductosDestacados" model="productoDestacado"/>
    }

</main>
